#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width:100%;
}

.pagination__position{
  margin-right: 30px;
}

caption{
  caption-side: top
}

.Modal {
  position: absolute;
  text-align: unset; 
  top:20%;
  bottom: 50%;
  /* right: c%; */
  left: 35%;
  height: 465px;
  width: 465px;
  background: white;
  border-style: solid;
  border-color: blueviolet;
  border-width: 3px;
  padding: 10px;
  border-radius: 5px;
}

.progress-bar {
  position: relative;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #333;
}

.progress-bar-filler {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}


.fade:not(.show) {
  opacity: 1;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

