#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width:100%;
}

.pagination__position{
  margin-right: 30px;
}

caption{
  caption-side: top
}

.Modal {
  outline: none;
  position: absolute;
  text-align: unset;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 465px;
  width: 465px;
  background: white;
  border-style: solid;
  border-color: blueviolet;
  border-width: 3px;
  padding: 10px;
  border-radius: 5px;
}

.Modal-Content {
  min-height: calc(100% - 60px);
}

.Modal-Footer {
  height: 50px;
}

.Bigger-Modal {
  outline: none;
  position: absolute;
  text-align: unset;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 565px;
  width: 565px;
  background: white;
  border-style: solid;
  border-color: blueviolet;
  border-width: 3px;
  padding: 10px;
  border-radius: 5px;
}

.progress-bar {
  position: relative;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #333;
}

.progress-bar-filler {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.loadingIcon-svg {
  /*display: block;*/
  height: 20px;
  margin: 0 3px 0 0;
}

.fade:not(.show) {
  opacity: 1;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

