#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width:100%;
}

.pagination__position{
  margin-right: 30px;
}

caption{
  caption-side: top
}

.Modal {
  position: absolute;
  text-align: unset; 
  top:20%;
  bottom: 50%;
  /* right: c%; */
  left: 35%;
  height: 465px;
  width: 465px;
  background: white;
  border-style: solid;
  border-color: blueviolet;
  border-width: 3px;
  padding: 10px;
  border-radius: 5px;
}

/*.selectableTableRow {*/
/*  outline: none;*/
/*  cursor: default;*/
/*  box-shadow: none;*/
/*}*/

.selectableTableRow:focus {
  -webkit-box-shadow: 0 0 0 3px #fd0;
  box-shadow: 0 0 0 3px #fd0;
  outline: none;
  padding: 0 0 0 1.85rem;
}

.expandedRowEnabled .selectableTableRow:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 3px #fe781f;
  box-shadow: 0 0 0 3px #fe781f;
  outline: none;
  padding: 0 0 0 1.85rem;
}

.expandedRow :hover {
  outline: none;
  cursor: default;
  box-shadow: none;
}

.progress-bar {
  position: relative;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #333;
}

.progress-bar-filler {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.accordion-table-chevron {
  display: block;
  padding: 6px 10px 6px 18px;
}

.accordion-table-chevron-svg {
  display: block;
  width: 15px;
  height: 15px;

}

.accordion-table-chevron-rotate {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


.fade:not(.show) {
  opacity: 1;
}

.modal-backdrop.fade {
  opacity: 0.5;
}

